div{
    background-color:#FFFDE7;
    border: 2px solid#9E9E9E;
    text-align: center;
    
}
h1{
    color:#D40000;
    background-color:#FFD9E6;
    margin-left: 25px;
    margin-right: 25px;
}
p{
   
    font-style: italic;
    color:#0033CC ;
}
hr{
    color:#0033CC;
    width: 55%;
    
}